<section class="footer ptb-100 bg-071327">
    <div class="container">
    <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="footer-logo-area">
    <a href="/" style="color: white;font-weight: bolder;font-size:x-large;"><img style="max-width:60px;max-height:60px;" src="images/Homes/logo.png" alt="image">SAMTECH</a>
    <p>Trust in the expertise of our highly skilled technical professionals to deliver innovative and effective solutions for your IT needs.</p>
    <div class="footer-social-icons">
    <ul>
    <li><a href="https://www.facebook.com/samran456" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="https://www.linkedin.com/in/samtech-pk-203414255/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
    <li><a href="https://twitter.com/Tehseen_Ahmad_/" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://www.instagram.com/samran456" target="_blank"><i class="fab fa-instagram"></i></a></li>
    <li><a href="wa.me/923042192020" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
    <li><a href="https://www.fiverr.com/samranahmad?up_rollout=true" target="_blank"><i class="fab fa-fiver"></i></a></li>
    </ul>
    </div>
    </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="footer-links footer-contact">
    <h3>Contact Us</h3>
    <ul>
    <li><span>Our Email:</span> <a href="mailto:samranahmad09@gmail.com">samranahmad09@gmail.com</a></li>
    <li><span>Our Phone:</span> <a href="tel:+923467887275">+923467887275</a></li>
    <li><span>Opening Hours:</span>(8am-11pm) GMT+5:00</li>
    </ul>
    </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
    <div class="footer-links footer-newsletter">
    <h3>Newsletter</h3>
    <p>Stay always in touch! Subscribe to our newsletter.</p>
    <form class="newsletter-form" data-toggle="validator" novalidate="true">
    <input type="email" class="input-newsletter form-control" placeholder="Enter Your Email" name="EMAIL" required="" autocomplete="off">
    <div id="validator-newsletter" class="form-result"></div>
    <button class="default-button">Subscribe Now <i class="fas fa-arrow-right"></i></button>
    </form>
    </div>
    </div>
    </div>
    </div>
    </section>
<script data-cfasync="false" src="js/email-decode.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/meanmenu.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/TweenMax.js"></script>
<script src="js/nice-select.min.js"></script>
<script src="js/form-validator.min.js"></script>
<script src="js/contact-form-script.js"></script>
<script src="js/ajaxchimp.min.js"></script>
<script src="js/countdown.min.js"></script>
<script src="js/appear.min.js"></script>
 <script src="js/barfiller.js"></script>
<script src="js/odometer.min.js"></script>
<script src="js/custom.js"></script>
</body>
</html>