<%-include("partials/Header.ejs")%>
<%-include("partials/Navbar.ejs")%>

<section class="uni-banner">
    <div class="container">
    <div class="uni-banner-text-area">
    <h1>Our Services</h1>
    <ul>
    <li><a href="/">Home</a></li>
    <li>Our Services</li>
    </ul>
    </div>
    </div>
    </section>

<section class="service pt-70 pb-100">
        <div class="container">
        <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="service-card">
        <div class="service-card-img">
        <img src="images/service/s1.jpg" alt="image">
        <a href="/service"><i class="flaticon-business-plan"></i></a>
        </div>
        <div class="service-card-text">
        <h4><a href="/service">Data Recovery Services </a></h4>
        </div>
        </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="service-card">
        <div class="service-card-img">
        <img src="images/service/s2.jpg" alt="image">
        <a href="/service"><i class="flaticon-business-1"></i></a>
        </div>
        <div class="service-card-text">
        <h4><a href="/service">PC and MAC Services</a></h4>
        </div>
        </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="service-card">
        <div class="service-card-img">
        <img src="images/service/s3.jpg" alt="image">
        <a href="/service"><i class="flaticon-document"></i></a>
        </div>
        <div class="service-card-text">
        <h4><a href="/service">Video Repairing Services</a></h4>
        </div>
        </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="service-card">
        <div class="service-card-img">
        <img src="images/service/s4.jpg" alt="image">
        <a href="/service"><i class="flaticon-business-2"></i></a>
        </div>
        <div class="service-card-text">
        <h4><a href="/service">Virtual Machine Deployment</a></h4>
        </div>
        </div>
        </div>
        </div>
        </div>
    </section>

<section class="services ptb-100">
        <div class="container">
        <div class="default-section-title default-section-title-middle">
        <span>Our Services</span>
        <h3>IT Services</h3>
        </div>
        <div class="section-content">
        <div class="service-slider-area owl-carousel slider-area-nav owl-loaded owl-drag">
        
        
        
        
        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1392px, 0px, 0px); transition: all 2s ease 0s; width: 2784px;">
        <div class="owl-item cloned" style="width: 348px;"><div class="service-card-2">
        <a href="/service"><img  src="images/Services/data-recovery.jpg" alt="image"></a>
        <div class="service-card-2-text">
        <h4><a href="service-details.html">Data Recovery Services</a></h4>
         <p>We specialise in data recovery from different type of devices. We can recover data from servers too!
            The data may be lost due to the following reasons:
           <strong><b>
               Accidently formatted Disks, USBs, SD cards etc.
               Damaged Disks, USBs, SD cards etc.
               Virus/Malware attacks resulting in loss of data.
               RAID systems damaged due to Hard Disk failure.
            </b>
            </strong> 
            In addition, we can also attempt to repair the corrupted data using advanced techniques.</p>
        <a class="read-more-btn" href="/service">Explore Now <i class="fas fa-arrow-right"></i></a>
        </div>
        </div></div>
        
        <div class="owl-item cloned" style="width: 348px;"><div class="service-card-2">
        <a href="/service"><img src="images/Services/virtual_machine.png" alt="image"></a>
        <div class="service-card-2-text">
        <h4><a href="/service">Virtual Machine Deployment</a></h4>
          <p>We can deploy virtual machines on any operating system. This ranges from GUI operating systems to even command-line operating systems!
            We can even convert your Linux server to Windows.
            The operating systems available for virtual machines are:
            <strong><b>
                Windows (Any Version)
                macOS (10.11 to 13)
                Linux (Includes RedHat, Ubuntu, CentOS etc.)</p>
            </b>
            </strong>
        <a class="read-more-btn" href="/service">Explore Now <i class="fas fa-arrow-right"></i></a>
        </div>
        </div></div><div class="owl-item" style="width: 348px;"><div class="service-card-2">
        <a href="/service"><img src="images/Services/itmanagement.jpg" alt="image"></a>
        <div class="service-card-2-text">
         <h4><a href="/service">IT Asset Management </a></h4>
         <p>IT asset management 
            <b>(also known as ITAM)</b>is the process of ensuring an organization’s assets are accounted for, deployed, maintained, upgraded, and disposed of when the time comes.
            We will professionally manage all of your IT assets and also recommend changes to them when needed.
            IT asset management solutions provide organizations better control on their IT environment and peace of mind. We will monitor each of your IT asset independently and resolve any issue that occurs.</p>
         <a class="read-more-btn" href="/service">Explore Now <i class="fas fa-arrow-right"></i></a>
        </div>
        </div></div><div class="owl-item" style="width: 348px;"><div class="service-card-2">
        <a href="/service"><img src="images/Services/pcAndmac.jpg" alt="image"></a>
        <div class="service-card-2-text">
        <h4><a href="/service">PC and MAC Services</a></h4>
        <p>We have an experience of 10+ years in IT industry. We specialise in the following services:
            <strong><b>
                Windows Installation/Upgradation upto 10/11
                macOS Installation/Upgradation upto Ventura (13)
                Computer/Laptop Hardware Upgradation for Better Performance
                Errors/Issue fixing of Windows/macOS
            </b>
            </strong>
            Solutions for PC/Mac Software</p>
        <a class="read-more-btn" href="/service">Explore Now <i class="fas fa-arrow-right"></i></a>
        </div>
        </div></div><div class="owl-item active" style="width: 348px;"><div class="service-card-2">
        <a href="/service"><img src="images/Services/videoRepairing.jpg" alt="image"></a>
        <div class="service-card-2-text">
        <h4><a href="/service">Video Repairing Services</a></h4>
        <p>We specialise in repairing corrupted videos.
            They may be damaged due to the following reasons:
            <strong><b>
                Broken, corrupted or damaged video file of the following formats: .MOV, .MP4, .MKV, .AVI, .MXF, .MDT, .RSV.
                Unplayable video files after dead battery, camera drop, accidently interrupted and unfinalized.
                Video not copied completely from SD card, USB or Hard Drive.
            </b></strong>
            </p>
        <a class="read-more-btn" href="/service">Explore Now <i class="fas fa-arrow-right"></i></a>
        </div>
        </div></div>
    </div></div>
    <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i class="fas fa-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="fas fa-angle-right"></i></button></div><div class="owl-dots disabled"></div></div>
        </div>
        </div>
    </section>


<%-include("partials/Footer.ejs")%>